{% extends 'education/base/base.html' %}

{% block dashboard_content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <h5 class="text-center">Guruhlar</h5>
                <p class="text-center display-4">5</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <h5 class="text-center">Darslar</h5>
                <p class="text-center display-4">12</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <h5 class="text-center">O‘quvchilar</h5>
                <p class="text-center display-4">30</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <h5 class="text-center">Davomat</h5>
                <p class="text-center display-4">95%</p>
            </div>
        </div>
    </div>

    <div class="card shadow p-4 mt-4">
        <h4 class="mb-3">Oxirgi darslar</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Dars nomi</th>
                    <th>Guruh</th>
                    <th>Sana</th>
                    <th>Davomat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Python Asoslari</td>
                    <td>Guruh A</td>
                    <td>2025-03-02</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>Java Backend</td>
                    <td>Guruh B</td>
                    <td>2025-03-01</td>
                    <td>88%</td>
                </tr>
                <tr>
                    <td>Web Dasturlash</td>
                    <td>Guruh C</td>
                    <td>2025-02-28</td>
                    <td>92%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}