{% extends 'teachers/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Uyga vazifani tahrirlash - {{ lesson.title }}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Saqlash</button>
    </form>

    <!-- O'chirish tugmasi -->
    <form method="post" action="{% url 'teachers:delete_homework' lesson.id %}" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Haqiqatan ham o‘chirmoqchimisiz?');">
            O‘chirish
        </button>
    </form>

    <a href="{% url 'teachers:lesson_detail' lesson.id %}" class="btn btn-secondary mt-2">Orqaga</a>
</div>

<!-- Flatpickr kutubxonasini ulash -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("input[name='deadline']", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            defaultDate: "{{ form.deadline.value|date:'Y-m-d H:i' }}"  // Oldingi sanani chiqarish
        });
    });
</script>
{% endblock %}
